/* #contacto {
    background-color: blue;
  } */

  .title_container{
    display: flex;
    justify-content: center;
  }

  .title_contact{
    margin-top: 250px;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 4px;
  }

.contact_ul_container{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  padding: 0px;
  margin: 0;

  background: #00394A;
backdrop-filter: blur( 20px );
-webkit-backdrop-filter: blur( 20px );
border-radius: $border-radius;
}

.contact_li{
  display: flex;
}
/* .tel_margin{
  margin: 80px 0;
}
 */
.icon_contact{
  padding-right: 10px;
}

.uil{
  font-size: 2rem;
  color: $primary-color;
}

.li_contact{
  display: flex;
  /* font-size: 18px; */
  font-weight: 300;
  letter-spacing: 1px;
  align-items: center;
  padding: 20px 0;
  margin: 0 20px;
  p{
    font-size: 20px;
    font-weight: 400;
    margin: 0;
  }

}

@media screen and (max-width: 400px) {
  .li_contact{
    margin: 0;
  
  }
  .contact_ul_container{
    background: none;
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    border-radius: none;
  
  
  }
}

.container_general_contact{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
  margin-top: 50px;

}
.input_container{
  display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}
.input_name{
  margin: 20px 0
}
/* .input_{
  padding: 5px;
} */
#email{
  padding: 5px;
  width: 340px;
  border-radius: $border-radius;
  border: none
}
#name{
  padding: 5px;
  width: 340px;
  border-radius: $border-radius;
  border: none
}

#message{
  margin: 0;
  padding: 5px;
  width: 340px;
  border-radius: $border-radius;
  border: none
}
