/* #contacto {
    background-color: blue;
  } */

.title_container {
  display: flex;
  justify-content: center;
  position: relative;

  &::before {
    z-index: -1;
    content: "";
    position: absolute;
    left: 50%;
    bottom: -11px;
    background: $color-lima-claro;
    width: 220px;
    height: 3px;
    transform: translate(-50%);
  }
}


.title_contact {
 
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.contact_ul_container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  padding: 0px;
  margin: 0;
  background: #1C1D21;
  border-radius: $border-radius;
}

.contact_li {
  display: flex;
}

/* .tel_margin{
  margin: 80px 0;
}
 */
.icon_contact {
  padding-right: 10px;
}

.uil {
  font-size: 2rem;
  color: #93DD2C;
}

.li_contact {
  display: flex;
  /* font-size: 18px; */
  font-weight: 300;
  letter-spacing: 1px;
  align-items: center;
  padding: 20px 0;
  margin: 0 20px;

  p {
    font-size: 20px;
    font-weight: 400;
    margin: 0;
  }

}

@media screen and (max-width: 400px) {
  .li_contact {
    margin: 0;

  }

  .contact_ul_container {
    background: none;
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    border-radius: none;
  }
}

.container_general_contact {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5rem;
  margin-top: 50px;

}
.form_container{
  padding: 5px;
  flex-grow: 999;
  text-align: center;
  display: flex;

}
.input_container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.input_name {
  margin: 20px 0
}

/* .input_{
  padding: 5px;
} */
::placeholder {
  color: $text-color;
  font-size: 14px;
  font-weight: 400;
}

#email, #name, #message {
  padding: 8px;
  max-width: 383px;
  border-radius: $border-radius;
  border: none;
  background-color: $headings-color;
  color:$text-color;
  width: 100%;
}


