/* #pedro-gervasoni {
    background-color: blueviolet;
  }

 */

.container_general_home{
  display: flex;
  flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}


.title_home{
  margin-top: 200px;
  color: $text-color;
  text-align: center;
  font-size: 50px;
    letter-spacing: 1px;
}


.text_home{
  color: $text-color;
  text-align: center;
  font-size: 30px;
  letter-spacing: 1px;
  font-weight: 300;
}

.span_home{
  color: $text-color;
  text-align: center;
  font-size: 28px;
  letter-spacing: 1px;
  font-weight: 100;
}


.container_button{
 padding: 20px;
}
.button_resume{
  color: $color-negro-fondo;
  background-color:$headings-color;
  color: $color-negro-fondo;
  padding: 6px 14px;
  border: none;
  border-radius: $border-radius;
  cursor: pointer;

  &:hover {
    background-color:$primary-color;
  }
}
