
  .container_proyectos{
    display: flex;
    flex-direction: column;
      flex-wrap: nowrap;
      text-align: center;
  }
  .linea-proyectos{
    display: flex;
    justify-content: center;
    position: relative;
    &::before {
      z-index: -1;
      content: "";
      position: absolute;
      left: 50%;
      bottom: -11px;
      background: $color-lima-claro;
      width: 220px;
      height: 3px;
      transform: translate(-50%);
    }
  }
  .proyectos{
   
    font-size: 30px;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 4px;
  }

  .parrafo-proyectos{
    font-size: 22px;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-top: 50px;
  }

  .heading {
    background: white;
    height: 5%;
    margin: 10px;
    padding: 10px;
  }
  
  .swiper-container {
    width: 100%;
    height: 90%;
  }
  .swiper-slide {
    text-align: center;
    background: #fff;
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  // Image Accordions General
  .container-general {
    margin: 0 auto;
    width: 100%;
    .gallery-wrap {
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 70vh;
      .item {
        flex: 1;
        height: 100%;
        background-position: center top;
        background-size: cover;
        background-repeat: none;
        transition: all 0.8s ease;
        &:hover {
          flex: 7;
        }
      }
    }
  }
  
  // Image Accordions Effect 1
  .wrap-effect-1 {
    .item {
      &:first-of-type {
        /* background-image: url('/images/proyectos/terranova.png'); */
        background-color: $color-negro-fondo;
      }
      &:nth-of-type(2) {
       /* background-image: url('/images/proyectos/terranova.png'); */
       background-color: $headings-color;

      }
      &:nth-of-type(3) {
        background-image: url('/images/proyectos/terranova.png');
      }
      &:nth-of-type(4) {
        /* background-image: url('/images/proyectos/terranova.png'); */
        background-color: $headings-color;
      }
      &:last-of-type {
        /* background-image: url('/images/proyectos/terranova.png'); */
        background-color: $color-negro-fondo;
      }
    }
  }
  
  
  
  
  @keyframes rotate {
    0% {
      transform: rotate(0deg) translate3d(0, 0, 0);
    }
    25% {
      transform: rotate(10deg) translate3d(0, 0, 0);
    }
    50% {
      transform: rotate(-10deg) translate3d(0, 0, 0);
    }
    75% {
      transform: rotate(5deg) translate3d(0, 0, 0);
    }
    100% {
      transform: rotate(0deg) translate3d(0, 0, 0)
    }
  }
  