
.container_sobre-mi{
  display: flex;
  flex-direction: column;
    flex-wrap: nowrap;
    text-align: center;
}


.linea-sobre-mi{
  display: flex;
  justify-content: center;
  position: relative;
  &::before {
    z-index: -1;
    content: "";
    position: absolute;
    left: 50%;
    bottom: -11px;
    background: $color-lima-claro;
    width: 220px;
    height: 3px;
    transform: translate(-50%);
  }
}
.sobre-mi{
 
  font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 4px;
}
.title_sobre-mi{
  margin-top: 50px;
  font-size: 28px;
    font-weight: 600;
    letter-spacing: 1px;
}































  .skills{
    background: #1C1D21;
  border-radius: $border-radius;
  padding: 20px;
  } 
.skills__tech{
  margin-right: 15px;
}
  .skills__item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px 0;
  }
  .skills__bar,
  .skills__bar::after {
    position: relative;
    width: 175px;
    height: 10px;
    background-color: #888;
    border-radius: $border-radius;
    overflow: hidden;
  }
  
  .skills__bar::after {
    content: '';
    position: absolute;
    left: -175px;
    background-color: $primary-color;
    transition: $transition;
    animation: skill-bar 2s forwards ease-in-out;
  }
  
  .skills__bar--10::after{
    --skill-bar-length:10%
  
  }
  .skills__bar--20::after{
    --skill-bar-length:20%
  
  }
  .skills__bar--30::after{
    --skill-bar-length:30%
  
  }
  .skills__bar--40::after{
    --skill-bar-length:40%
  
  }
  .skills__bar--50::after{
    --skill-bar-length:50%
  
  }
  .skills__bar--60::after{
    --skill-bar-length:60%
  
  }
  .skills__bar--70::after{
    --skill-bar-length:70%
  
  }
  .skills__bar--80::after{
    --skill-bar-length:80%
  
  }
  .skills__bar--90::after{
    --skill-bar-length:90%
  
  }
  
  @keyframes skill-bar {
    to {
      transform: translateX(var(--skill-bar-length));
    }
  }