
    $primary-color: #00A0D0;
    $text-color: #ffff;
    $headings-color: hsl(0, 0%, 57%);
    $title-color: #57D8FF;
    $box-shadow: 5px 0 15px rgb(0 0 0 / 0.2);
    $skill-bar-length:0%  ;
    $transition: color 0.1s, background-color 0.2s ease-in-out;
    $border-radius: 0.4em;

