
    $primary-color: #93DD2C;
    $text-color: #F3EFF5;
    $color-lima-claro:#9DE03F;
    $color-negro-fondo: #0A0A0A;
    $headings-color: #5C6070;
    $title-color: #57D8FF;
    $box-shadow: 5px 0 15px rgb(0 0 0 / 0.2);
    $skill-bar-length:0%  ;
    $transition: color 0.1s, background-color 0.2s ease-in-out;
    $border-radius: 0.4em;

