/* #pedro-gervasoni {
    background-color: blueviolet;
  }

 */
/* #sobre-mi {
    background-color: aquamarine;
  } */
/* .skills{
  display: flex;
} */
.skills__item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.skills__bar,
.skills__bar::after {
  position: relative;
  width: 175px;
  height: 8px;
  background-color: #888;
  border-radius: 0.4em;
  overflow: hidden;
}

.skills__bar::after {
  content: "";
  position: absolute;
  left: -175px;
  background-color: #93DD2C;
  transition: color 0.1s, background-color 0.2s ease-in-out;
  animation: skill-bar 2s forwards ease-in-out;
}

.skills__bar--10::after {
  --skill-bar-length:10% ;
}

.skills__bar--20::after {
  --skill-bar-length:20% ;
}

.skills__bar--30::after {
  --skill-bar-length:30% ;
}

.skills__bar--40::after {
  --skill-bar-length:40% ;
}

.skills__bar--50::after {
  --skill-bar-length:50% ;
}

.skills__bar--60::after {
  --skill-bar-length:60% ;
}

.skills__bar--70::after {
  --skill-bar-length:70% ;
}

.skills__bar--80::after {
  --skill-bar-length:80% ;
}

.skills__bar--90::after {
  --skill-bar-length:90% ;
}

@keyframes skill-bar {
  to {
    transform: translateX(var(--skill-bar-length));
  }
}
/* #proyectos {
    background-color: brown;
  } */
/* #contacto {
    background-color: blue;
  } */
.title_container {
  display: flex;
  justify-content: center;
  position: relative;
}
.title_container::before {
  z-index: -1;
  content: "";
  position: absolute;
  left: 50%;
  bottom: -11px;
  background: #9DE03F;
  width: 220px;
  height: 3px;
  transform: translate(-50%);
}

.title_contact {
  margin-top: 250px;
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.contact_ul_container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  padding: 0px;
  margin: 0;
  background: #1C1D21;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 0.4em;
}

.contact_li {
  display: flex;
}

/* .tel_margin{
  margin: 80px 0;
}
 */
.icon_contact {
  padding-right: 10px;
}

.uil {
  font-size: 2rem;
  color: #93DD2C;
}

.li_contact {
  display: flex;
  /* font-size: 18px; */
  font-weight: 300;
  letter-spacing: 1px;
  align-items: center;
  padding: 20px 0;
  margin: 0 20px;
}
.li_contact p {
  font-size: 20px;
  font-weight: 400;
  margin: 0;
}

@media screen and (max-width: 400px) {
  .li_contact {
    margin: 0;
  }

  .contact_ul_container {
    background: none;
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    border-radius: none;
  }
}
.container_general_contact {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5rem;
  margin-top: 50px;
}

.input_container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.input_name {
  margin: 20px 0;
}

/* .input_{
  padding: 5px;
} */
::placeholder {
  color: #F3EFF5;
  font-size: 14px;
  font-weight: 400;
}

#email {
  padding: 8px;
  width: 340px;
  border-radius: 0.4em;
  border: none;
  background-color: #5C6070;
  color: #F3EFF5;
}

#name {
  padding: 8px;
  width: 340px;
  border-radius: 0.4em;
  background-color: #5C6070;
  border: none;
  color: #F3EFF5;
}

#message {
  margin: 0;
  padding: 8px;
  width: 340px;
  border-radius: 0.4em;
  background-color: #5C6070;
  border: none;
  color: #F3EFF5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none !important;
  font-family: "Manrope", sans-serif;
  color: #F3EFF5;
}

body,
html {
  /* background-image: url(/images/background/background.svg); */
  /* background-size:  100%; */
  scroll-behavior: smooth;
  background-attachment: fixed, scroll;
  background-size: cover;
  background-color: none !important;
  background-color: #0A0A0A;
  z-index: -2;
  position: relative;
}

.particulas {
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
}

/* #particles-js{

  background-color: #1e1e24;
} */
/* scrollbar */
body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-track {
  background: #0A0A0A;
}

body::-webkit-scrollbar-thumb {
  background: #5C6070;
  border-radius: 0.4em;
}

body::-webkit-scrollbar-thumb:hover {
  background: #93DD2C;
  animation-duration: 1s;
}

#burger {
  color: #ddd;
}

/* .header{
    height: 100px;
  } */
/* .topnav {
    display: flex;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0);
    height: 100px;
    align-items: center;
    justify-content: space-between;
    margin: 0 30px;
    .nav_link{
      font-size: 22px;
      float: left;
      display: block;
      color: $text-color;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 200;
      letter-spacing: 3px;
      &:hover{
       color:#DDF7FF;

      }
    }
  } */
.header {
  background-color: #0769e900;
  height: 100px;
  display: flex;
  align-items: center;
  width: 100%;
  top: 0;
  left: 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 100%;
}

.nav-link {
  color: #F3EFF5;
  text-decoration: none;
  font-weight: 400;
  font-size: 22px;
  letter-spacing: 3px;
}

.logo {
  font-size: 22px;
  font-weight: 700;
  padding: 0 40px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.nav-menu {
  display: flex;
  margin-right: 40px;
  list-style: none;
}

.nav-menu-item {
  font-size: 18px;
  margin: 0 10px;
  line-height: 80px;
  text-transform: uppercase;
  width: max-content;
}

.nav-menu-link {
  padding: 8px 12px;
  border-radius: 3px;
}

.nav-menu-link:hover,
.nav-menu-link_active {
  color: #9DE03F;
  transition: 0.4s;
}

/* TOGGLE */
.nav-toggle {
  color: white;
  background: none;
  border: none;
  font-size: 30px;
  padding: 0 20px;
  line-height: 60px;
  cursor: pointer;
  display: none;
}

/* MOBILE */
@media (max-width: 1024px) {
  .header {
    height: 60px;
  }

  .logo {
    font-size: 22px;
    font-weight: 400;
    padding: 0 10px;
    text-transform: uppercase;
  }

  .nav-menu {
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-color: #0A0A0A;
    position: fixed;
    top: 60px;
    width: 100%;
    padding: 20px 0;
    height: calc(100% - 60px);
    overflow-y: auto;
    left: 100%;
    transition: left 0.3s;
    z-index: 999;
  }

  .nav-menu-item {
    line-height: 70px;
  }

  .nav-menu-link:hover {
    background: none;
    color: #83c5f7;
  }

  .nav-toggle {
    display: block;
  }

  .nav-menu_visible {
    left: 0;
  }

  .nav-toggle:focus:not(:focus-visible) {
    outline: none;
  }
}
.secciones {
  width: 100%;
  height: 100vh;
}

#btnScrollToTop {
  position: fixed;
  right: 10px;
  bottom: 10px;
  /* width: 50px;
    height: 50px; */
  border-radius: 50%;
  background: none;
  color: #F3EFF5;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 25px;
}

.text_up {
  height: 60px;
  transform: rotate(90deg) translateX(0%) translateY(34%);
  font-size: 14px;
  letter-spacing: 1px;
}

#btnScrollToTop:active {
  background: none;
}

@media screen and (max-width: 550px) {
  #btnScrollToTop {
    margin-bottom: -50px;
  }

  .text_up {
    text-indent: -9999999px;
  }
}
@media screen and (max-width: 1880px) {
  #message {
    margin-bottom: 180px;
  }

  .contact_ul_container {
    margin-bottom: 180px;
  }
}
@media screen and (width: 804px) {
  #message {
    margin-bottom: 90px;
  }
}

/*# sourceMappingURL=style.css.map */
